.weather{
    width: 220px;
    display: inline-block;
    // border: 1px solid rgb(238, 223, 223);
    box-sizing: border-box;
    padding: 10px;
    border-radius:10px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}