.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
  visibility: hidden;
  overflow: hidden;
  visibility: hidden;
  &__style {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999999;
    transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    visibility: hidden;
    overflow: hidden;
    visibility: hidden;
  }
  &__active {
    visibility: visible;
    .popup__overlay {
      opacity: 1;
    }
    .popup__container {
      transform: translate3d(0, 0, 0);
    }
  }
  &__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba($color: #000, $alpha: 0.7);
    opacity: 0;
    transition: opacity 300ms ease-in;
  }

  &__container {
    position: absolute;
    width: 100%;
    background-color: #fff;
    transform: translate3d(0, -100%, 0);
    transition: transform 600ms cubic-bezier(0.36, 0.66, 0.04, 1);

    &--right-filter {
      right: 0;
      transform: translate3d(100%, 0, 0);
      width: 600px;
      height: 100vh;
      background: #ffffff;
    }

    &--action-sheet {
      bottom: 0;
      transform: translate3d(0, 100%, 0);
      width: 100%;
      background: #ffffff;
      border-radius: 24px 24px 0px 0px;
    }

    &-title {
      position: relative;
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &__back-icon {
        width: 16px;
        height: 48px;
        position: absolute;
        top: 26px;
        left: 32px;
      }
      &__text {
        font-weight: 650;
      }
    }

    &-close {
      position: absolute;
      top: 32px;
      right: 28px;
      width: 44px;
      height: 44px;
    }
  }

  &__top {
    position: absolute;
    top: 88px;
    height: 100vh;
  }
  &__model{
    position: fixed;
    top: 0px;
    height: 100vh;
    .popup__container {
      background:none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
